<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProveedorTelefonico"
         connectionString="Server=localhost\SQLEXPRESS;Database=ProveedorTelefonicoDB;User ID=javauser;Password=Java123456;Encrypt=False;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ProveedorHost" value="127.0.0.1" />
    <add key="ProveedorPuerto" value="6000" />
    <add key="ProveedorTimeoutMs" value="5000" />
    <add key="AesKey" value="12345678901234567890123456789012" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.codedom>
  </system.codedom>
</configuration>
